@font-face {
    font-family: prompt;
    src: url(font/VCR_OSD_MONO.ttf);
}

body {
    background-color: black;
    margin: 0px;
}

.grandContainer {
    font-family: prompt;
    margin: 0;
    position: relative;
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.containerOpt {
    margin: 1px;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px solid #aeca0c;
    border-radius: 5px;
    height: 22vh;
    width: 80vw;
}

.containerDialog {
    margin: 1px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    border: 4px solid #aeca0c;
    height: 50vh;
    width: 80vw;
    color: white;
    font-size: 15px;
}

.contentDialog p {
    margin: 10px;
}

.contentDialog {
    display: none;


}


/* Style the tab */
.tabOption {
    position: relative;
    border: none;
    padding: 10px;
    transition: 0.5s;
    z-index: 1;
    font-family: prompt;
    align-items: center;
}



/* Style the buttons inside the tab */
.tabOption button {
    font-family: prompt;
    display: block;
    background-color: #aeca0c;
    color: black;
    margin: 7px;
    width: 12em;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    
    font-size: 5vw;

}

/* Create an active/current "tab button" class */
.tabOption button:active {
    background-color: black;
    color: white;
}

#tabPoesia {
    display: none;
}

#tabMusica {
    display: none;
}

#tabDialogo {
    display: none;
}

#tabGhera {
    display: none;
}

.containerFace {
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    border: 4px solid #aeca0c;
    height: 12vh;
    width: 80vw;
}
.face {
    background-color: #aeca0c;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    height: 10vh;
    width: 20vw;
}
.music {
    margin: 1px;
    display: flex;
    flex-direction: row;
    justify-content: initial;
    align-items: center;
    border: 3px solid #aeca0c;
    height: 10vh;
    width: 55vw;
    z-index: 1;
}

.playpause {
    position: absolute;
    left: 132px;
    top: 10vw;
    z-index: 2;
}

