@font-face {
    font-family: prompt;
    src: url(VCR_OSD_MONO.ttf);
}

body {
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: prompt;

}
p {
    margin: 16px 16px 16px 16px;
}

.grandContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.containerImg {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 25vw;
    height: 80vh;
    border: 4px solid rgb(21, 27, 75);
}

.containerInfo {
    width: 60vw;
    height: 80vh;
    border: 4px solid rgb(21, 27, 75);
}

.containercontent {
    display: none;
    width: 60vw;
    height: 60vh;
}

.containeropt {
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 15vh;
    width: 60vw;
}
/* Style the tab */
.tabOption {
    position: relative;
    border: none;
    transition: 0.5s;
    z-index: 1;
    font-family: prompt;
    align-items: center;
}



/* Style the buttons inside the tab */
.tabOption button {
    font-family: prompt;
    display: block;
    background-color: rgb(21, 27, 75);
    color: white;
    margin: 7px;
    width: 9em;
    border: none;
    outline: none;
    cursor: pointer;
    
    font-size: 5vw;

}

/* Create an active/current "tab button" class */
.tabOption button:active {
    background-color: black;
    color: white;
}

.zeon {
    margin: 0.5px;
    width: 24vw;
    height: 22vh;
    background-color: saddlebrown;
}


.zeon img {
    margin: 0px;
    padding: 0px;
    width: 24.5vw;
    height: 22vh;
    background-color: saddlebrown;
}

.nome {

    padding: 0px;
    width: 24.5vw;
    height: 22vh;
}

.nome img {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    width: 27vw;
    height: 30vh;
}

.mariposa {    
    margin: 2px;
}

.mariposa img {
    margin: 40px 0px 0px 0px;
    padding: 0px;
    width: 24vw;
    background-color: saddlebrown;
}

#tabInit {
    display: none;
}

#tabMusica {
    display: none;
}

#tabdistorcida {
    display: none;
}

#tabsonora {
    display: none;
}