@font-face {
    font-family: prompt;
    src: url(VCR_OSD_MONO.ttf);
}
@font-face {
    font-family: spantaran;
    src: url(Spantaran.ttf);
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.grandContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    font-family: prompt;

    
}
.containerOlhos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 75vw;
    height: 40vh;
    border: 4px solid grey;
    

}
.containerOlhos img {
    width: 25vw;
    height: 25vw;
}

.secao{
    display: flex;
    flex-direction: row;
}


.divOlho {
    cursor: pointer;
    width: 20vw;
    height: 20vw;
    background-color: chartreuse;
    justify-content: center;
    align-items: center;
    
}
#olho1 {
    float: right;
}
#boca {
    cursor: pointer;
    width: 75vw;
    height: 20vh;
    background-color: black;
    justify-content: center;
    align-items: center;

}
#olho {
    cursor: pointer;
    width: 35vw;
    height: 35vw;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.containerDialog {
    display: flex;
    width: 75vw;
    height: 25vh;
    border: 4px solid grey;
    margin: 5px;
    border-radius: 2px 2px;
    display: block;
    font-size: 6vw;
    color: rgb(207, 204, 204);
    justify-content: center;
    align-items: center;
    overflow: scroll;

    
}


.contentDialog {
    margin: 4px;
    display: none;
}

.containerDialog p {
    margin: 10px 0px 10px 0px;
}

.containerOpt {
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 18vh;
    border: 4px solid grey;
    margin: 5px;
    border-radius: 2px 2px;
    display: block;
    align-items: center;
}

.tabOption {
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    transition: 0.5s;
    z-index: 1;
    font-family: prompt;
    align-self: center;
    margin: 0px 10px 0px 10px;

}



/* Style the buttons inside the tab */
.tabOption button {
    font-family: prompt;
    display: block;
    background-color: grey;
    color: white;
    margin: 6px;
    width: 67vw;
    border: none;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 6vw;
}

/* Create an active/current "tab button" class */
.tabOption button:active {
    background-color: black;
    color: white;
}

#tabBoca {
    display: none;
}

#tabOlhos {
    display: none;
}
#tabOlhos2 {
    display: none;
}

#tabQuem {
    display: none;
}

#tabLivre {
    display: none;
}


#tabMaquina {
    display: none;
}

#tabMaquina2 {
    display: none;
}

#tabMaquina3 {
    display: none;
}

#tabVirtual {
    display: none;
}

#tabSujera {
    display: none;
}